
/*__________________HEADER/FOOTER____________________*/

body {
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

* {   /*   "*" permet la sélections de tout les élément de la page */
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

header {
  width: 100%;
  background-color: #0b475f; 
  z-index: 1000;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* MENU */
.main-nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.main-nav ul li a {
  font-size: 1em;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.main-nav ul li a:hover {
  color: #F56E28; /* Effet hover pro */
}

/* LOGO */
.logo img {
  width: 120px; 
  transition: transform 0.3s ease;
  border-radius: 50%;
}

.logo img:hover {
  transform: scale(1.1); 
}

/* POLICE PARAGRAPHE ET TITRE */

h1 {
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  font-size: 4em;
  line-height: 1.1em;
  color: #ffffff;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1); /* Légère ombre pour donner du relief */
  position: relative;
  display: inline-block;
  transition: color 0.3s ease, transform 0.2s ease-in-out;
}
  
p {
  font-family: 'Poppins', sans-serif;
  font-size: clamp(1em, 1.5vw, 1.8em);
  font-weight: 400;
  line-height: 1.6em;
  max-width: 700px;
  color: #ffffff;
}
  
a, .droit-footer {
  font-family: 'Space Mono', italic;
  font-size: 1em;
  text-transform: uppercase;  
  color: inherit;
  font-weight: 400;
}
  
a:hover, .droit-footer:hover {
  text-decoration: underline;
}

/*---________________FOOTER---________________*/

.menu-footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 86px;
  height: 40px;
  background-color: #0b475f;
  padding: 1px 0px 8px 0px;
}

.menu-footer ul {
  display: flex;
  gap: 85px;
}

.menu-footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400; 
  transition: color 0.3s ease; 
}

.menu-footer a:hover {
  color: #F56E28; 
}

.droit-footer {
  color: #ffffff; 
  font-size: 1rem;
  font-weight: 400;
  transition: color 0.3s ease; 
}

.droit-footer:hover {
  color: #F56E28; 
  text-decoration: none; 

}

@media (max-width: 768px) {
  .menu-footer {
    flex-direction: column;
    align-items: center; 
    gap: 20px; 
    height: auto; 
  }

  .menu-footer ul {
    flex-direction: column;
    gap: 15px; 
  }

  .menu-footer a {
    font-size: 14px; 
  }

  .droit-footer {
    font-size: 14px; 
  }
}
/*_____________HERO____________*/

.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b475f;
}

.hero-content {
  display: flex;
  flex-direction: column;
}

.content-text {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  margin-bottom: 20px;
}

/* ---___RECTANGLE DES SECTIONS---_____*/

.content-text::before {
  content: ''; /* Nécessaire pour générer l'élément */
  position: absolute;
  width: 80%; 
  height: 100%;
  background-color: #F56E28;
  border-radius: 10px; 
  z-index: -1;
  top: -20px; 
  left: -20px; 
  padding: 20px;
  box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.4); 
}

.rectangle1::before {
  content: '';
  position: absolute;
  width: 35%; 
  height: 20%;
  background-color: rgba(255, 165, 0, 0.5);
  z-index: -1;
  border-radius: 10px;
  top: -15px; 
  left: -15px;
  padding: 15px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2); /* Ombre réduite */ 
}

/* Rectangle orange pour la section "Mes compétences" */
.rectangle2::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 70%; 
  background: linear-gradient(90deg, rgba(255, 183, 77, 0.6), rgba(245, 110, 40, 0.6));
  z-index: -1;
  border-radius: 10px; 
  top: -15px;
  left: 30px; 
  padding: 20px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2); 
}

/* fin rectangle*/

.profile-image {
  display: flex;
  flex-direction: column;
}

.profile-image h2 {
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  font-size: 2.5em;
  line-height: 1em;
  color: #3cbcec;
  text-shadow: 3px 3px 0 rgba(34, 33, 33, 0.1); /* Légère ombre pour donner du relief */
  position: relative;
  display: inline-block;
  margin: 20px;
}

.profile-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 60px;
}
/*---___EFFET POUR LE H1---____*/

.word-left {
  display: inline-block;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideLeft 1s forwards;
}

.word-right {
  display: inline-block;
  opacity: 0;
  transform: translateX(100%);
  animation: slideRight 1s forwards;
  animation-delay: 0.3s;
}

/* Keyframe pour l'animation du mot venant de la gauche */
@keyframes slideLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Keyframe pour l'animation du mot venant de la droite */
@keyframes slideRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*---responsive HERO---*/

@media (max-width: 768px) {
  .hero {
    flex-direction: column; 
    align-items: center;
    justify-content: center;
  }

  .content-text {
    width: 90%; 
    text-align: center;
  }

  .content-text h2 {
    font-size: 2em;
  }

  .profile-image img {
    width: 150px;
    height: 150px;
    margin: 0; 
  }
}

/*______---LIEN RÉSEAUX HERO---_____*/

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px; 
  z-index: 2; 
  position: relative; 
  margin-top: 20px; 
}

.social-link i {
  font-size: 2rem; 
  color: white;
  transition: color 0.3s ease;
}

.social-link i:hover {
  color: #F56E28; 
  transform: scale(1.2); /* Agrandissement de 10% */
  transition: transform 0.3s ease; 
}

/*__________________ABOUT-ME SECTION_____________________*/

/* Applique la couleur noire à tous les h2 et p dans la section .about-me */
.about-me p {
  color: #000000;  
  font-family: 'Poppins', sans-serif;
  font-size: 1.8em;
}

.about-me strong {
  color: #F56E28;
}

.about-me {
  position: relative;
  background-color: #eaf0f3; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  height: 80vh; 
  padding: 30px; 
}
/*------EFFET FADE IN DES TITRE-------*/

/* Titre initialement caché */
.fade-in-title {
  display: inline-block;
  font-family: 'Space Mono', monospace;
  color: #3cbcec;
  font-size: 3em;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 20px;
  opacity: 0; /* Initialement invisible */
  width: 0; /* Initialement pas de largeur */
  visibility: hidden; /* Complètement invisible */
  border-right: none; /* Pas de curseur de machine à écrire au départ */
  transition: opacity 1.8s ease, width 1.8s ease; /* Transition fluide */
}

/* Lorsque la classe .animate est ajoutée, on fait apparaître le texte */
.fade-in-title.animate {
  visibility: visible; /* L'élément devient visible avec la classe 'animate' */
  opacity: 1; /* Rendre l'élément visible */
  width: auto; /* L'élément prend sa largeur normale */
  animation: typing 3s steps(20) 1s 1 normal forwards; /* L'animation de la machine à écrire */
}

/* Animation de la machine à écrire */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}



/*---RESPONSIVE A-PROPOS---*/

@media (max-width: 768px) {
  .about-me {
    display: flex;
    justify-content: center;
    height: auto;
    padding: 0 15px; 
  }

  .a-propos {
    font-size: 2.5em; 
    margin-bottom: 10px;
  }

  
  .about-me p {
    font-size: 1.2em; 
    text-align: center; 
  }
}
/*__________________PARTIE COMPETENCE__________*/

.skills {
  padding: 80px 10%;
  text-align: center;
  background-color: #eaf0f3;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
}

.cube-section {
  flex: 1;
  max-width: 200px;
  display: flex;
  justify-content: center;
}

.text-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-section p {
  color: #000000;  
  font-family: 'Poppins', sans-serif;
  font-size: 1.8em;
}

.toolbox-section {
  flex: 1;
  max-width: 300px;
  text-align: center;
  border-radius: 30px;
  background-color: rgba(255, 165, 0, 0.8); 
}

.toolbox-section p {
  font-size: 1em;
  color: #ffffff;
  margin-bottom: 20px;
}

.toolbox-section .skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.toolbox-section .skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #c46913;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 120px;
}

.toolbox-section .skill img { /* le logo tech*/
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  filter: unset; /* Enlever l'effet de filtre pour revenir à la couleur native */
}

.toolbox-section .skill:hover {
  transform: scale(1.1);
}

.toolbox-section .colored-icon[src*="html5"] { 
  filter: invert(27%) sepia(81%) saturate(1000%) hue-rotate(5deg); 
}

.toolbox-section .colored-icon[src*="css3"] { 
  filter: invert(32%) sepia(82%) saturate(1221%) hue-rotate(180deg); 
}

.toolbox-section .colored-icon[src*="javascript"] { 
  filter: invert(78%) sepia(21%) saturate(5000%) hue-rotate(2deg); 
}

.toolbox-section .colored-icon[src*="php"] { 
  filter: invert(22%) sepia(50%) saturate(800%) hue-rotate(240deg); 
}

.toolbox-section .colored-icon[src*="wordpress"] { 
  filter: invert(10%) sepia(25%) saturate(1000%) hue-rotate(200deg); 
}


@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
    gap: 30px;
  }

  .cube-section, .toolbox-section {
    max-width: 100%; 
  }

  .text-section {
    max-width: 100%;
  }

  .toolbox-section .skills-container {
    flex-direction: column; 
  }

  .toolbox-section .skill {
    width: 100px;
  }
}


/*---________________SECTION PROJET---____________*/

#projets {
  background-color: #0b475f;
  padding: 40px 0;
  text-align: center; 
}

.projets-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.projet {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.projet:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25); 
}

#projets h3 {
  margin-bottom: 50px; 
  font-weight: 800;
  font-family: 'Space Mono', monospace;
  font-size: 3em;
  color: #ffffff;
}

.projet h2 {
  padding: 10px;
  background-color: #F56E28;
  color: #fff;
  margin: 0;
}

.projet-thumbnail {
  width: 100%;
  height: 100%; 
  overflow: hidden; /* Empêche l'image de dépasser du cadre */
  display: flex;
}

.projet-thumbnail img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.projet-contenu {
  padding: 20px;
}

/*---RESPONSIVE PROJET---*/

@media (max-width: 768px) {
  .projets-grid {
    grid-template-columns: 1fr; /* Affiche une seule colonne sur mobile */
    gap: 15px; 
  }

  .projet {
    margin-left: 0;
    margin-right: 0;
  }
}

/*---_________MODALE DE CONTACT---____________*/

.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: none; /* Masque la modale au début */
  justify-content: center;
  align-items: center;
  z-index: 9999; 
  top: 0;
  left: 0;
}

form label {   /* style couleur texte label */
  font-family: 'Poppins';
  color: #000;
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
  gap: 4px;
}

/* Rendre la modale visible quand on lui ajoute la classe visible */
.popup-overlay.visible {
  display: flex; /* Affiche la modale */
}

/* Style de la modale */
.popup-contact {
  background: white;
  width: 90%; 
  max-width: 600px;
  height: auto;
  overflow: auto;
  position: relative;
  border: 5px solid #000;
  padding: 20px; 
  box-sizing: border-box;
}

/* Autres styles pour l'image, les champs, etc. */
.popup-header {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.popup-img {
  width: 120px; 
}

.popup-details {
  width: 100%;
  margin: 0 auto;
}

.wpcf7-text, .wpcf7-textarea {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
  padding: 10px;
  margin-bottom: 10px;
}

/*bouton contact*/
.wpcf7-submit {
  width: 100%;
  background: #D8D8D8;
  border: transparent;
  padding: 10px;
  cursor: pointer;
}

.wpcf7-submit:hover {
  background: #F56E28; /* Orange */
}

/* Style du bouton de fermeture */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #F56E28;  
  color: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Effet au survol */
.close-btn:hover {
  background-color: #e64a19;  
  transform: scale(1.2); 
}

.close-btn:focus {
  outline: none; /* Évite le contour bleu au focus */
}


@media (max-width: 768px) {
  .popup-contact {
    width: 90%;
    padding: 15px;
  }

  .popup-img {
    width: 100%;
  }

  .popup-details {
    width: 100%;
    padding: 0 10px;
  }
}

/*---________MENU BURGER---_________*/

.burger-menu {
  display: none; 
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 10;
}

.burger-menu span {
  display: block;
  height: 2px;
  background-color: #000000;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.burger-menu.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.burger-menu.active span:nth-child(2) {
  opacity: 0;  /* Cache la deuxième ligne */
}

.burger-menu.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

@media (max-width: 768px) {
  /* Burger Menu Position */
  .burger-menu {
    display: flex;
    position: absolute;
    top: 30px;
    right: 20px;
    gap: 6px;
    z-index: 100;
  }

  header {
    padding: 0 20px;
  }

  /* Le menu qui occupe toute la hauteur */
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #F56E28; 
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 5;
  }

  /* Affichage du menu quand la classe active est ajoutée */
  .main-nav.active {
    transform: translateY(0);
  }

  .main-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    list-style: none;
    text-align: center;
    padding: 0;
  }

  .main-nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }

  .main-nav ul li a:hover {
    color: #e0e0e0; 
  }
}

/* ___________LE CUBE____________*/

.cube-container {
  position: absolute;
  top: 180%; /* Positionne le cube dans la section */
  left: 5%; 
  width: 250px; 
  height: 250px;
  perspective: 500px;
  z-index: 10;
  cursor: pointer;
}

.cube {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotateCube 10s infinite linear; 
  transition: transform 0.1s ease-out; 
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.8); 
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face i {
  font-size: 40px;  
  color: white;
}

.front  { transform: translateZ(75px); }
.back   { transform: rotateY(180deg) translateZ(75px); }
.left   { transform: rotateY(-90deg) translateZ(75px); }
.right  { transform: rotateY(90deg) translateZ(75px); }
.top    { transform: rotateX(90deg) translateZ(75px); }
.bottom { transform: rotateX(-90deg) translateZ(75px); }

@keyframes rotateCube {
  0%   { transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg); }
  25%  { transform: rotateY(90deg) rotateX(45deg) rotateZ(45deg); }
  50%  { transform: rotateY(180deg) rotateX(90deg) rotateZ(90deg); }
  75%  { transform: rotateY(270deg) rotateX(135deg) rotateZ(135deg); }
  100% { transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg); }
}

/* Cacher le cube pour les tablettes et petits écrans (768px et moins) */
@media (max-width: 768px) {
  .cube-container {
    display: none !important; /* Cacher le cube sur les écrans de 768px et moins */
  }
}

/* Afficher le cube pour les écrans plus grands (au-dessus de 768px) */
@media (min-width: 769px) {
  .cube-container {
    display: block !important; 
  }
}

@media (max-width: 1024px) {
  .cube-container {
    width: 200px; 
    height: 200px;
    position: relative;
    margin-top: -350px; 
    display: block;
  }
}

/*---__________Style de la flèche---_________ */

.scroll-to-top {
  position: fixed;
  bottom: 20px;  
  right: 20px;   
  font-size: 1.5rem;
  background-color: #F56E28; 
  color: white;  
  padding: 10px;
  border-radius: 50%;
  display: none;
  z-index: 999;  
  cursor: pointer;
}

/* Effet au survol */
.scroll-to-top:hover {
  background-color: #0b475f; 
}

@media (max-width: 768px) {
  .scroll-to-top {
    display: none !important;  
  }
}

/*---_________LIGHTBOX---__________ */

.lightbox {
  display: none;
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #062c3b;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  z-index: 999;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.lightbox-toggle:checked + label + .lightbox {
  display: block;
}

.lightbox .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  background-color: #e37814;
  border-radius: 50%;
  width: 40px; 
  height: 40px; 
}

.lightbox .close:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease; 
}


#lightbox p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.lightbox-content h2 {
  font-family: 'Space Mono', monospace;
  color: #F56E28;
}

/* Animation et positionnement */
.projet-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.projet:hover .projet-overlay {
  opacity: 1;
  visibility: visible;
}

.btn-en-savoir-plus, .btn-github, .btn-site {
  background-color: #0b475f;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
}

.btn-en-savoir-plus:hover, .btn-github:hover, .btn-site:hover {
  text-decoration: none;
  background-color: #e37814;
  transform: scale(1.1); 
  transition: transform 0.3s ease; 
}

/* ________________FIN POUR L'INSTANT_______________*/

